/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* body */
body{
    font-family: 'Poppins', sans-serif;
    color: #3E3E3E;
}
body a{
    text-decoration: none;
}

/* fontawesome modify */
.far ,.fas{
    margin-right: 10px;
}
.far{
    margin-right: 10px;
    
    color: #5243C2;
}
.far{
    margin-right: 10px;
}

/* card color */
/* Our PKG Container */
.our-pkg-container p{
 color:#848199 ;    
}

.our-pkg-container h3,
.our-pkg-container h4{
    color:#231D4F ;    
}

.card-bg-color{
    background: #3F87F5;
}
#our-pkg-blue-card{
    transform: translateY(-7em); border-radius: 1.5rem;
}
/* Our PKG button */
#our-pkg-blue-card p{
    color: white;
}
#our-pkg-blue-card button{
    color: #3F87F5;
    font-weight: 600;
    padding: 1rem 3rem;
    font-size: 1.1rem;
}
.choose-plan-btn{
    color: #3F87F5;
    background: hsla(322, 81%, 77%, 0.10);
    font-weight: 600;
    padding: 1rem 4rem;
    font-size: 1.1rem;
}


/* badge  */
.red-badge{
    background-color: #FF4E4E;
    position:absolute;
    top:0;
    right:0;
}
/* question section */
.question-section{
    color:#7E848C;
}
#offer{
    position: absolute;
    top: 5rem;
    right: 0;
    background-color: white;
    color: black;
    font-size: 12px;
    font-weight: bold;
}
#apex-nowarp{
   white-space: nowrap;
}
footer{
    margin-top: 120px;
}
@media screen and (max-width: 1200px) {
    p {
        font-size: 20px;
    }
    h1{
        font-size: 35px;
    }
    h3{
        font-size: 30px;
    }
    h4{
        font-size: 30px; 
    }
    button{
        width: 50%;
        margin:100px auto ;
        padding: 30px 30px;
    }
    #apex-nowarp{
        white-space: normal;
    }
    #our-pkg-blue-card{
        margin-top: 100px;
    }
    .accordion-button{
        font-size: 25px;
    }
    .accordion-body{
        font-size: 20px;
    }
}


@media screen and (max-width: 992px) {
    p {
        font-size: 30px;
    }
    h1{
        font-size: 50px;
    }
    h3{
        font-size: 40px;
    }
    h4{
        font-size: 35px; 
    }
    button{
        width: 100%;
        margin:100px auto ;
        padding: 30px 30px;
    }
    #apex-nowarp{
        white-space: normal;
    }
    #our-pkg-blue-card{
        margin-top: 100px;
    }
    .accordion-button{
        font-size: 30px;
    }
    .accordion-body{
        font-size: 25px;
    }
}
/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 600px) {
    p{
        font-size: 40px;
    }

    h1{
        font-size: 55px;
    }
    h3{
        font-size: 50px;
    }
    h4{
        font-size: 45px; 
    }
    button{
        width: 50%;
        margin:100px auto ;
    }
    button a{
        font-size: 20px;
    }
    #apex-nowarp{
        white-space: normal;
    }
    #our-pkg-blue-card{
        margin-top: 100px;
    }
    .accordion-button{
        font-size: 40px;
    }
    .accordion-body{
        font-size: 30px;
    }
}

